.contact-page .info {
    padding-bottom: 10px;
    padding-top: 0;
}

.info .info-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: #2c2c2c;
}

.info-horizontal .icon > i {
    font-size: 2em;
}

.description, .card-description, .footer-big p {
    color: #9A9A9A;
    font-weight: 300;
}

.info-horizontal {
    text-align: left !important;
}

.info-horizontal .description {
    overflow: hidden;
}

.icon.icon-info {
    color: #2CA8FF;
}

.info-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.info p {
    color: #888;
    padding: 0 15px;
    font-size: 1.1em;
}

.col-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 100%;
}

.input-group .input-group-focus .input-group-prepend .input-group-text {
    border-left: red !important;
}