<div class="wrapper down-top">
  <div class="container">
    <div class="row">

      <div class="col-md-5 ml-auto mr-auto">
        <h2 class="title">Envianos un mensaje</h2>
        <p class="description">
          Puedes contactarnos para cualquier consulta acerca de nuestros productos. Te contactaremos tan pronto como sea posible. 
          <br>
          <br>
        </p>
        <form>
          <label>Nombre</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
            </div>
            <input class="form-control" placeholder="Tu nombre..." type="text">
          </div>
          <label>Correo Electrónico</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
            </div>
            <input class="form-control" placeholder="Tu correo..." type="email">
          </div>
          <label>Teléfono</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons tech_mobile"></i></span>
            </div>
            <input class="form-control" placeholder="Number Here..." type="text" />
          </div>
          <div class="form-group">
            <label>Tu Mensaje</label>
            <textarea class="form-control" id="message" name="message" rows="6"></textarea>
          </div>
          <div class="submit text-center">
              <input class="btn btn-info btn-raised btn-round" type="submit" value="Enviar Mensaje" />
          </div>
        </form>
      </div>

      <div class="col-md-5 ml-auto mr-auto">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="info info-horizontal mt-5">
            <div class="icon icon-info"><i class="now-ui-icons location_pin"></i></div>
            <div class="description">
              <h4 class="info-title">Oficina</h4>
              <p> Bld Mihail Kogalniceanu, nr. 8, <br> 7652 Bucharest, <br> Romania </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-info"><i class="now-ui-icons tech_mobile"></i></div>
            <div class="description">
              <h4 class="info-title">Números telefónicos</h4>
              <p> Nicaragua (505) 2251-4444 <br> Costa Rica (506) 2269-9075  <br> Panamá: (507) 774-8937 </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-info"><i class="business_briefcase-24 now-ui-icons"></i></div>
            <div class="description">
              <h4 class="info-title">Información Legal</h4>
              <p> Ediciones Mundo S.A. <br> VAT · EN2341241 <br> IBAN · EN8732ENGB2300099123 <br> BAC Credomátic
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>