<div class="warpper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg1.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Revisiones Chucho</h1>
        <h4 class="title">Nunca supe como se escribía.</h4>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>