<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg1.jpg');">
    </div>

  </div>


  <div>
    <div class="row">
      <div class="col-12">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block" style="height: 200px; width: 100%" src="https://static.wixstatic.com/media/3ef8f8_2822a55c78304b8c9d0cd85249f890e5~mv2.png/v1/fill/w_1184,h_225,al_c,lg_1,q_80/3ef8f8_2822a55c78304b8c9d0cd85249f890e5~mv2.webp" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block" style="height: 200px; width: 100%" src="https://static.wixstatic.com/media/3ef8f8_3b9a99ae80a8404090d82c7be800c497~mv2.png/v1/fill/w_1130,h_232,al_c,lg_1,q_80/3ef8f8_3b9a99ae80a8404090d82c7be800c497~mv2.webp" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block" style="height: 200px; width: 100%" src="https://static.wixstatic.com/media/3ef8f8_2fe75c8c7f9544d8a7dc905840b05c7e~mv2.png/v1/fill/w_1067,h_204,al_c,lg_1,q_80/3ef8f8_2fe75c8c7f9544d8a7dc905840b05c7e~mv2.webp" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>