<!-- <nav class="navbar navbar-expand-lg bg-info fixed-top" color-on-scroll="500">
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Dropdown header</a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">One more separated link</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom"
        ngbTooltip="Designed by Invision. Coded by Creative Tim">
        Inicio
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/catalogo']">
            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
            <p>Catálogo</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/catalogo']">
            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
            <p>Nosotros</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/catalogo']">
            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
            <p>Contacto</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav>
  <div class="navbar navbar-expand-lg bg-info fixed-top" id="example-navbar"
    data-nav-image="assets/img/blurred-image-1.jpg">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">
          <p>Inicio</p>
        </a>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            <p>
              Catálogo
            </p>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" [routerLink]="['/catalogo']">
            <a class="dropdown-item" [routerLink]="['/catalogo/infantiles']">Infantiles</a>
            <a class="dropdown-item" href="#">Diccionarios y Enciclopedias</a>
            <a class="dropdown-item" href="#">Idiomas</a>
            <a class="dropdown-item" href="#">Religón</a>
            <a class="dropdown-item" href="#">Obras Técnicas</a>
            <a class="dropdown-item" href="#">Otros</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <p>Contacto</p>
        </a>
      </li>
    </ul>
    <div _ngcontent-c3="" class="col-sm-6 col-lg-3 ml-auto">
      <div _ngcontent-c3="" class="input-group">
        <input _ngcontent-c3="" class="form-control" placeholder="Buscar libros" type="text">
        <div _ngcontent-c3="" class="input-group-append">
          <span _ngcontent-c3="" class="input-group-text search-item"><i _ngcontent-c3="" class="now-ui-icons ui-1_zoom-bold ml-3"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

</nav>